.calculator {
	margin-left: 20%;
	margin-right: 20%;
	background-color: white;
	padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 15px;
}

.calculator h2 {
	text-align: center;
	margin-bottom: 50px;
}

.calculator-forms {
	width: 100%;
}

.calculator-forms label {
	margin-left: 15%;
}

.calculator-forms input {
	width: 70%;
	height: 30px;
	margin-left: 15%;
	outline: none;
	margin-bottom: 30px;
	margin-top: 20px;
	font-family: calculator;
	border-radius: 5px;
	text-align: center;
}

.calculator-forms button {
	width: 70%;
	height: 50px;
	margin-left: 15%;
	margin-top: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 26px;
	background-color: #ffcc00;
	font-family: calculator;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}