.registration-form {
    background-color: #141114;
    position: fixed;
    width: 40%;
    height: 470px;
    top: 10%;
    left: 30%;
    border: 3px solid #DCDCDC;
    box-shadow: 0 0 5px #03e9f4;
    border-radius: 0px 25px 0px 25px;
    color: white;
    display: none;
}

.registration-cross {
    cursor: pointer;
    position: relative;
    left: -20px;
    top: -20px;
    filter: drop-shadow(0 0 5px red);
}

.registration-cross:hover {
    filter: drop-shadow(0 0 5px #03e9f4);
}

.forms {
    margin-left: 20%;
}

.form-control {
    width: 80%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    outline: none;
    border: none;
    font-family: calculator;
}

.form-control:focus {
    box-shadow: 0 0 2px #03e9f4,
                0 0 15px #03e9f4,
                0 0 20px #03e9f4,
                0 0 500px #03e9f4;
}

.registration-button {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
    outline: none;
    background-color: #03e9f4;
    font-family: calculator;
    border: none;
}

.registration-button:hover {
    box-shadow: 0 0 2px #03e9f4,
                0 0 15px #03e9f4,
                0 0 20px #03e9f4,
                0 0 500px #03e9f4;
}